 .u-section-1 {
  background-image: url("../Images/Website/abstract-graffiti-art-background-with-scribble-throw-up-and-tagging-hand-drawn-style-street-art-graffiti-urban-theme-for-prints-patterns-banners-and-textiles-in-format-free-vector_2.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 603px;
}

.u-section-1 .u-form-1 {
  height: 298px;
  width: 474px;
  margin: 60px auto;
}

.u-section-1 .u-image-1 {
  width: 464px;
  height: 86px;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  border-style: solid;
  font-size: 1.125rem;
  padding: 8px 30px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-form-1 {
    width: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 391px;
  }

  .u-section-1 .u-btn-1 {
    padding-top: 9px;
    padding-left: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    height: 299px;
    width: 320px;
  }
}