 .u-section-1 {
  background-image: url("../Images/Website/abstract-graffiti-art-background-with-scribble-throw-up-and-tagging-hand-drawn-style-street-art-graffiti-urban-theme-for-prints-patterns-banners-and-textiles-in-format-free-vector.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 555px;
}

.u-section-1 .u-image-1 {
  width: 543px;
  height: 179px;
  margin: 67px auto 0;
}

.u-section-1 .u-form-1 {
  height: 222px;
  width: 525px;
  margin: -10px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-image-1 {
    height: 178px;
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: -13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-image-1 {
    height: 117px;
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }
}